.Survival {
    display:grid;
    width: 100wv;
    height:100vh;

    Grid-template-areas:
    "he he he he he he"
    "s1 s1 s1 s2 s3 s3"
    "s1 s1 s1 s2 s3 s3"
    "s1 s1 s1 s2 s3 s3"
    "s1 s1 s1 s2 s4 s4"
    "s1 s1 s1 s2 s4 s4"
    "s4 s4 s4 s4 s4 s4"
    "fo fo fo fo fo fo"
    "fo fo fo fo fo fo"
    "fo fo fo fo fo fo"
    ;

    grid-template-columns: (6, 1fr);
    grid-template-rows: (10, 1fr);
    grid-gap: 2px;
}


